<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсы</title>
    <link rel="stylesheet" href="/css/cabinet.css" />
</head>

<body>
    <!-- =============== Navigation ================ -->
    <%- include ('navigation') %>
        <%- include ('topbar') %>
            <!—=========================Main====================—>
                <div class="details">
                    <div class="recentOrders">
                        <div class="cardHeader">
                            <h2>Ваши курсы</h2>
                        </div>
                        <div class="course-container">
                            <% for (let id=0; id < classesInfo.length; id++) { %>
                                <div class="curse-block">
                                    <h2>
                                        <%= classesInfo[id].taskName %>
                                    </h2>
                                    <div class="curse-text-pointer">
                                        <h4>
                                            <%= classesInfo[id].status %>
                                        </h4>
                                        <a href="/cabinet/courses/<%= classesInfo[id].resultID %>/<%= %>">
                                            Начать урок
                                        </a>
                                    </div>
                                    <span>
                                        <%= Math.round((classesInfo[id].userPoints / classesInfo[id].points) *
                                            100) %>%
                                    </span>
                                </div>
                                <% } %>
                        </div>
                        <%- include ('modalpfp') %>
</body>

</html>